---
import { loadQuery } from "../sanity/lib/load-query";
import Layout from "../layouts/Layout.astro";
import ApplicationCard from "../components/ApplicationCard.astro";
import InfoCard from "../components/InfoCard.astro";
import OurText from "../components/OurText.astro";

interface AdoptionItem {
    title: string;
    bulletPoints: string[];
}

// Fetch specific adoption items by title
const { data: adoptionItem1 } = await loadQuery<AdoptionItem>({
    query: `*[_type == "adoption" && title == "Requirements"][0]{title, bulletPoints}`,
});

const { data: adoptionItem2 } = await loadQuery<AdoptionItem>({
    query: `*[_type == "adoption" && title == "Adoption Process"][0]{title, bulletPoints}`,
});

const { data: adoptionItem3 } = await loadQuery<AdoptionItem>({
    query: `*[_type == "adoption" && title == "Adoption Fees"][0]{title, bulletPoints}`,
});

const { data: adoptionItem4 } = await loadQuery<AdoptionItem>({
    query: `*[_type == "adoption" && title == "Dewormers and preventatives"][0]{title, bulletPoints}`,
});

const { data: adoptionItem5 } = await loadQuery<AdoptionItem>({
    query: `*[_type == "adoption" && title == "Tests, vaccines, surgery"][0]{title, bulletPoints}`,
});

const { data: formUrl } = await loadQuery<{ formUrl: string }>({
    query: `*[_type == "googleForm" && title == "Adoption Form"][0]{formUrl}`,
});
---

<Layout title="Adoption Information">
    <OurText title="Adoption Process" />
    <div class="max-w-7xl mx-auto px-4 md:px-8 py-8">
        <section
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-6 pb-8"
        >
            <InfoCard
                icon="/icons8-requirement.webp"
                title={adoptionItem1.title}
                bulletPoints={adoptionItem1.bulletPoints}
                className="shadow-orange"
            />
            <InfoCard
                icon="/icons8-paper.webp"
                title={adoptionItem2.title}
                bulletPoints={adoptionItem2.bulletPoints}
                className="shadow-blue"
            />
            <InfoCard
                icon="/icons8-fee.webp"
                title={adoptionItem3.title}
                bulletPoints={adoptionItem3.bulletPoints}
                className="shadow-yellow"
            />
            <InfoCard
                icon="/icons8-drug.webp"
                title={adoptionItem4.title}
                bulletPoints={adoptionItem4.bulletPoints}
                className="shadow-green"
            />
            <InfoCard
                icon="/icons8-vaccine.webp"
                title={adoptionItem5.title}
                bulletPoints={adoptionItem5.bulletPoints}
                className="shadow-purple"
            />
        </section>

        <ApplicationCard title="Adoption" formUrl={formUrl.formUrl} />
    </div>
</Layout>
